@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

:root{
  --dark-purple: #100a2f;
  --faded-dark-purple : #100932c2;
  --bright-purple:#2d2670;
  --bright-slate: #ccd6f6;
  --light-purple: #b141ff;
  --transparent-purple:#6116b681;
  --navish-purple: #261a6c;
  --lighter-dark-purple:#1a1149;
  --slate: #8892b0;
  --lightest-slate: #8892b06e;
  --navy: #313542;
  --no-bg:#1a51f400;
  --purple-overlay:#0b0b44bf;
  --transparent-slate: #ffffff1a ;
  --font-mono: 'Fira Code', monospace;
  --font-roboto:-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;

}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dark-purple);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  font-family: var(--font-mono);

}
h1{
  font-family: var(--font-mono);
  font-size: 16px;
  color: var(--light-purple);
  font-weight: 400;
}

a {
  color: var(--bright-slate);
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--light-purple); 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--light-purple); 
}

