@import url("./index.css");

.navbar{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    padding: 15px 50px;
    z-index: 5;
    

}
.scrolled{
    backdrop-filter: blur(15px);

}
.navbar ol{
    
    display: flex;
    list-style-type: decimal-leading-zero;
    list-style-position: inside;
}


.navbar li::marker {
    color: var(--light-purple);  
    font-family: 'Fira Code', monospace;
    font-size: 13px;
}
.navbar li {
   padding: 4px 10px ;
   font-size: 13px;
   color: var(--bright-slate);
}

.navbar a:hover{
    color: var(--light-purple);
}
.logo{
    margin: auto 0 auto;
}
.logo img{
    width: 40px;
}
.links{
    margin-left: auto;

}
.resume{
    margin-left: 20px;
    list-style: none;
    padding-right: 0 !important;
}
.resume-button{
    border-radius: 4px;
    padding: 7px 12px;
    font-size: 13px;
    border: 1px solid var(--light-purple);
}

.menu{
    display: none;
    margin-left: auto;
}

.overlay-nav{
    display: none;

}

.block{
    display: block !important;

}


@media only screen and (max-width: 720px) {
    .navbar{
        position: relative;
        padding: 15px 5%;
        overflow: hidden;
    }
    .links{
        display: none;  
    }
    .resume{
       display: none;
    }
    .navbar {
        display: flex;
    }
    .menu{
        margin-right: 0;
        display: block;
        border: none;
        background-color: var(--no-bg);
    }

    .overlay-for-nav{
        
        display: none;
        position: fixed;
        top: 0;

        width: 100vw;
        height: 100vh;
        left: 0;
        z-index: 50;
        backdrop-filter: blur(5px);
    }
    .overlay-nav{
        display: block;
        height: 110vh;
        width: 60%;
        position: absolute;
        right: 0;
        top:0;
        box-shadow: -10px 0px 10px 1px var(--dark-purple);
        background-color: var(--lighter-dark-purple);

    }
    .navbar ol{
        margin: 70px 0;
        display: block;
        list-style-type: decimal-leading-zero;
        list-style-position: inside;
        line-height: 200%;
    }
    
    .overlay-resume{
        display: inherit;
        padding-left: 50px;

    }
   .close{
    float: right;
    margin: 24px 23px;
    background-color: var(--no-bg);
    border: none;
   }
   .close img{
    width: 20px;
    height: auto;
   }

   
    
    
}

@media only screen and (max-width: 600px) {
    
    .resume{
       display: none;
    }
    .navbar {
        display: flex;
    }
    .menu{
        
        display: block;
        border: none;

    }
    
}