@import url("./index.css");
.work-places {
    width: 75%;
    margin: 100px auto;
}
.work-places .numbered-heading::before{
    content: "02.";

}

.work-places .numbered-heading::after{

    top: 18px;
    left: 300px;
    width: 50%;

}

.highlighted{
    border-left: 2px solid var(--light-purple) !important;
    color: var(--light-purple) !important;
    background-color: var(--navish-purple)!important;

}

.work-view li::marker{
    content: '\25B9';
    color: var(--light-purple);
}
.work-view ul{
    padding-left: 10px;
}
.work-view li {
    padding-left: 20px;
    font-size: 15px;
}
.work-view .company{
    color: var(--light-purple) ;
}
.work-view .company a{
    color: var(--light-purple);

}
.work-view .title{
    color: var(--bright-slate);
}
.work-view .period{
    font-family: 'Fira Code', monospace;
    font-size: 15px;
}

.work-view{
    display: grid;
    color: var(--slate);
    grid-template-columns: repeat(11,1fr);
    gap: 10px;
    min-height: 400px;
}

.work-navbar {

    grid-column: 1/span 5;
    margin: 25px 20px;
}

.router-view{
    grid-column: -1/-7;
}



.work-view li{
    margin-bottom: 10px;
    font-size: 15px;
}



.work-navbar button {
    font-family: 'Fira Code', monospace;
    color: var(--bright-slate);
    padding-left: 20px;
    width: 70%;
    font-size: 13px;
    font-weight: 400;
    text-align:left;
    display: block;
    padding: 12px 20px;
    background-color: #ffffff00;
    border-bottom: none;
    border-top: none;
    border-right: none;
    border-left: 2px solid var(--lightest-slate);
    
}



@media only screen and (max-width: 1220px) {

    .work-navbar button {
        width: 80%;
    }

    .work-places .numbered-heading::after{

        top: 18px;
        left: 300px;
        width: 45%;
    
    }

}
@media only screen and (max-width: 950px) {

    .work-navbar button {
        width: 100%;
    }

    .work-places{
        width: 85%;
    }
    .work-places .numbered-heading::after{

        top: 18px;
        left: 300px;
        width: 37%;
    
    }

}

@media only screen and (max-width: 720px) {
    .work-places{
        width: 100%;
    }
    .work-places h2::after{
        
        display: none;
    
    }
    .work-view{
        display: block;

    }
    .router-view{
        width: 100%;
        margin-left: 0%;
    }
    .work-navbar{
        display: flex;
        overflow-x: auto;
        width: 100%;
        margin-left: 0%;
        
    }
    .work-navbar button{

        padding: 5px 20px;
        border-left: none;
        margin-bottom: 5px;
        
    }
    .highlighted{

        border-left: none !important;
        border-top: 2px solid var(--light-purple) !important;
        color: var(--light-purple) !important;
        background-color: var(--transparent-slate)!important;

    }
    
}
@media only screen and (max-width: 480px) {
    .work-places{
        width: 100%;
    }
    
    .work-view{
        display: block;

    }
    .router-view{
        width: 100%;
        margin-left: 0%;
    }
    .work-navbar{

        width: 100%;
    }
    
    
}